@model Barinak.Models.Siniflar.Rehber
@{
    ViewData["Title"] = "RehberGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Bilgi Güncelleme Sayfası</h2>
<br />
@using(Html.BeginForm("RehberGuncelle", "Admin", FormMethod.Post))
{
    @Html.LabelFor(x=>x.ID)
    @Html.TextBoxFor(x=>x.ID, new {@class="form-control"})
    <br />
    @Html.LabelFor(x=>x.Baslik)
    @Html.TextBoxFor(x=>x.Baslik, new {@class="form-control"})
    <br />
    @Html.LabelFor(x=>x.Tarih)
    @Html.TextBoxFor(x=>x.Tarih, new {@class="form-control"})
    <br />
    @Html.LabelFor(x=>x.RehberImage)
    @Html.TextBoxFor(x=>x.RehberImage, new {@class="form-control"})
    <br />
    @Html.LabelFor(x=>x.Aciklama)
    @Html.TextAreaFor(x=>x.Aciklama,15,1, new {@class="form-control"})
    <br />
    <button class="btn btn" style="background-color:#ff6a00">Bilgi Güncelle</button>
}

