@model Barinak.Models.Siniflar.Rehber
@{
    ViewData["Title"] = "YeniRehber";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Yeni Bilgi Ekleme</h1>
<br />
<form class="form-group" method="post">
    @Html.LabelFor(x=>x.Baslik)
    @Html.TextBoxFor(x=>x.Baslik, new {@class="form-control"})
    <br />
    @Html.LabelFor(x=>x.Tarih)
    @Html.TextBoxFor(x=>x.Tarih, new {@class="form-control"})
    <br />
    @Html.LabelFor(x=>x.RehberImage)
    @Html.TextBoxFor(x=>x.RehberImage, new {@class="form-control"})
    <br />
    @Html.LabelFor(x=>x.Aciklama)
    @Html.TextAreaFor(x=>x.Aciklama,15,1, new {@class="form-control"})
    <br />
    <button class="btn btn-primary">Bilgi Ekle</button>
</form>

